In [3]:
# Define the function say_hello so it prints "Hello !" when called
def say_hello():
    print("Hello!")

In [4]:
#Call the function
say_hello()

Hello!

In [5]:
# Define the function say_something so it prints whatever is passed as the variable when called 
def say_something(something):
    print(something)

In [6]:
#Call the funciton
say_something("Hello World!")

Hello World!

In [7]:
Jane_says= "Hi, my name is Jane. I'm Learning Python"
say_something(Jane_says)

Hi, my name is Jane. I'm Learning Python

In [8]:
#Define a function that calculates the percentage of students that passed both math and reading nad prints the passing percent
# to the output when the function is called

def passing_math_percent(pass_math_count, student_count):
    return passing_math_count/float(student_count) *100

In [9]:
passing_math_count = 29370
total_student_count = 39170

In [10]:
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [1]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [2]:
import pandas as pd
# convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [ ]:
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

In [3]:
# change the grades by one letter grade
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [5]:
# Using the format function 
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [6]:
#chaining the map() and format functions
#conver the numerical grades to Series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [7]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [8]:
# Reorder the columns in the order you want them to appear
new_column_order = ["Total Schools" ,"Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# assign district summary df the new column order
district_summary_df = district_summary_df[new_column_order]
district_summary_df

NameError: name 'district_summary_df' is not defined